@keyframes change-length {
  from {
    --length: var(--initial-length);
  }

  to {
    --length: var(--final-length);
  }
}

@keyframes change-color {
  from {
    --color: var(--initial-color);
  }

  to {
    --color: var(--final-color);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}