.container {
 
  max-width: var(--max-width);
  padding-inline: calc(var(--size) * 4);
  margin-inline: auto;
}

.flexbox {
  display: flex;
}

.flexbox--center {
  place-items: center;
  place-content: center;
}

.flexbox--centered-spacing {
  align-items: center;
  justify-content: space-between;
}

.flexbox--responsive {
  flex-direction: column;

  @media (width >=768px) {
    flex-direction: row;
  }
}

.g-layout {
  display: grid;
}

.g-layout--center {
  place-items: center;
  place-content: center;
}

.g-layout--auto-fit-columns {
  grid-template-columns: repeat(auto-fit, minmax(calc(var(--size) * 64), 1fr));
}

.g-layout.cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media (max-width: 900px) {
  .g-layout.cols-3 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 640px) {
  .g-layout.cols-3
   {
    grid-template-columns: 1fr;
  }
}

.g-layout--auto-fit-columns-lg {
  grid-template-columns: repeat(auto-fit, minmax(calc(var(--size) * 80), 1fr));
}